@charset "UTF-8";
@use "variable" as *;
@use "mixin" as *;

/* reset */
* {
    margin: 0;
    padding: 0;
    font: inherit;
    font-family: 'Inter', sans-serif;
    color: inherit;
}

*, ::after, ::before {
    box-sizing: border-box;
}

:root {
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    cursor: default;
    line-height: 1.2;
    overflow-wrap: break-word;
    word-break: break-word;
    tab-size: 4;
}

html, body {
    height: 100%;
}

body {
    background-color: $white;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

button {
    background: none;
    border: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

iframe {
    overflow: hidden;
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: top;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.blind {
    display: none;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    text-indent: 100%;
    white-space: nowrap;
}

@include media(tablet, false, $and: "pointer: fine") {
    :root {
        --pointer: fine;
    }
}

@include media(false, tablet, $etc: ", (max-width: 1366px) and (pointer: coarse)") {
    :root {
        --pointer: coarse;
    }
}